    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <title>Alocação de Salas</title>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="menu">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <div class="hstack gap-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                    href="menu">Cadastro</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="alocacaoDeSalas"><strong>Alocação de Salas</strong></a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="pesquisar">Pesquisar</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="relatorios">Relatório</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<main style="display: flex; flex-wrap: wrap;">
    <div class="container4">
        <div class="mini-container">
            {{#each data}}
                <div class="card" id="salaLivre" style="width: 18rem;" data-card-id="{{@index}}">
                    <div class="card-body">
                        <form id="formulario" method="post">
                            <input type="hidden" name="nomeSala" id="nomeSalaInput" value="Sala {{@index}}">
                            <div class="form-floating">
                                <select name="opcaoInstrutor" id="opcao-instrutor-{{@index}}" class="form-select" style="margin-bottom: 10px;" aria-label="Floating label select example" required>
                                    <option selected disabled>Escolha o Instrutor: </option>
                                    {{#each ../data2}}
                                        <option value="{{this.nomeInstrutor}}" id="{{@index}}">{{this.nomeInstrutor}} {{this.sobrenomeInstrutor}}</option>
                                    {{/each}}
                                </select>
                                <select name="opcaoCurso" id="opcao-curso-{{@index}}" class="form-select" style="margin-bottom: 10px;" required>
                                    <option selected disabled>Escolha o Curso: </option>
                                    {{#each ../data3}}
                                        <option value="{{this.nomeCurso}}" id="{{@index}}">{{this.nomeCurso}}</option>
                                    {{/each}}
                                </select>
                                <select name="opcaoLocal" id="opcao-local-${{@index}}" class="form-select" style="margin-bottom: 10px;" required>
                                    <option selected disabled>Escolha o Local: </option>
                                    {{#each ../data}}
                                        <option value="{{this.localSala}}" id="{{@index}}">{{this.localSala}}</option>
                                    {{/each}}
                                </select>
                                <h6>Data inicio: </h6>
                                <input type="date" value="anoMesDia" name="anoMesDia" id="data-{{@index}}" style="margin-bottom: 5px;" required>
                                <br>
                                Hora Inicial: 
                                <input type="time" value="horaInicial" name="horaInicial" id="hora-${{@index}}" style="margin-left: 3px;" required>
                                <br>
                                Hora Final: 
                                <input type="time" value="horaFinal" name="horaFinal" id="hora-${{@index}}" style="margin-left: 11px;" required>
                                <br>
                                <button type="submit" id="botao4" class="btn btn-light {{@index}}">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</main>

<footer>
    <div class="fixo bg-body-tertiary">
        <h3>Desenvolvido por Mark Treinamentos</h3>
    </div>
</footer>
