
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <title>Cadastro de Turmas</title>


<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="menu">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <div class="hstack gap-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="menu">Cadastro</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="alocacaoDeSalas">Alocação de Salas</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="pesquisar">Pesquisar</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="relatorios">Relatório</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        
        <div class="form-control">
            <h1 class="fw-bold text-center mt-3">Cadastro de Turma</h1>
            <form id="formulario" method="post">
                <div class="mb-3 ms-3 me-3">
                    <label for="exampleFormControlInput1" class="form-label">Selecione o Curso:</label>
                    <select class="form-select" name="nomeCurso" id="nomeCurso">
                        {{#each data}}
                        <option value="{{this.nomeCurso}}">{{this.nomeCurso}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3 ms-3 me-3">
                    <label for="exampleFormControlInput1" class="form-label">Selecione os Alunos:</label>
                    <select class="form-select" name="nomeAluno" id="nomeAluno">
                        {{#each data2}}
                        {{#if this.nomeAluno}}
                        <option value="{{this.nomeAluno}}">{{this.nomeAluno}} {{this.sobrenomeAluno}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3 ms-3 me-3">
                    <label for="exampleFormControlInput1" class="form-label">Selecione os Instrutores:</label>
                    <select class="form-select" name="nomeInstrutor" id="nomeInstrutor">
                        {{#each data3}}
                        {{#if this.nomeInstrutor}}
                        <option value="{{this.nomeInstrutor}}">{{this.nomeInstrutor}} {{this.sobrenomeInstrutor}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary ms-3">Salvar</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="fixo bg-body-tertiary">
            <h3>Desenvolvido por Mark Treinamentos</h3>
        </div>
    </footer>
